{% extends "layout.html" %}

{% block content %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-10">

        <div class="row mt-3 mb-3">
          <div class="col">
            <div class="card text-center">
              <div class="card-body">
                <h3 class="card-title">Frequently Asked Questions</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 mb-3">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Why Should I fulfill my Honors participation requirement?</h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Attending Honors-designated events will not only encourage learning beyond the classroom, but it is also
                  an opportunity to meet new students or catch up with the ones you may not have seen since the days of
                  CTW and C&I. Failure to fulfill this two-event requirement will result in loss of Honors status, which
                  includes priority registration and, for seniors, loss of Honors designation in transcript. There will be
                  many chances to attend events throughout the year, but please be aware that there will not be a plethora of
                  UHP-sponsored events at the end of Spring quarter.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 mb-3">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">What does this mean for other events on campus hosted by other departments or
                                       organizations that previously counted for credit?
                </h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Unless explicitly designated as an Honors event in the weekly UHP newsletter, these events will not count for
                  participation credit. However, students are encouraged to take advantage of the programming on campus, and event
                  organizers are still welcome to advertise their event in the newsletter.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 mb-3">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">How do I track my participation status?</h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  This website will give you a record of your participation status with regard to these event requirements.
                  On the “My Status” page, you will see the events you attended and whether they counted for a UHP Academic
                  Event or Social Justice Event. If your status is incomplete for either one of these events, you may be prompted
                  to return to the “Calendar” page to find an event that you would like to attend to fulfill your requirement.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 mb-3">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">How do I sign in to Honors Events?</h5>
              </div>
              <div class="card-body">

                <p class="card-text">
                  Navigate to the “Calendar” page. From there, on the right you will be presented with a list of events
                  that will occur in the next couple weeks. Click on the event you would like to attend.
                </p>

                <p class="card-text font-weight-bold">If the event is today:</p>

                <p class="card-text">
                    You will be able to read a short description of the event, followed by a sign-in button. Please click
                    on the sign-in button to sign in to the event. In addition, make sure your location services are on and
                    that you are in the location of the event. You will not be able to sign in unless you are in the location
                    of the event.
                </p>

                <p class="card-text font-weight-bold">If the event is not today:</p>

                <p class="card-text">
                    You will be able to read a short description of the event, followed by an RSVP button. Please click on the
                    RSVP button to let us know you are planning on attending. Please note: you will still need to sign in on the
                    day of the event to receive credit.
                </p>

              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3 mb-3">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Where can I learn more information about events and participation?</h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Please refer to the weekly UHP newsletter to find out more information. We will be advertising
                  which events count for participation credit. If you have any questions, feel free to reply to
                  the newsletter to reach the Honors Advisory Council. You can also view our Google Calendar, also
                  found in the newsletter, to help you plan for these events.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}
