.bg-header {
  background-color: #a5233b;
}

.text-white {
  color: #FFFFFF;
  font-family: Arial;
}

.bg-blue {
  background-color: #0000FF;
}

.bg-grey {
  background-color: #f7f7f7;
}

.bg-cream {
  background-color: #FBFAF6;
}
